@model Dish
<div class="text-center">
    <h1>@Model.Name</h1>
    <a href="/">Home</a> | <a href="/dishes/new">Add a Dish</a>
</div>

<p>@Model.Name by @Model.Chef</p>
<hr>

<p>@Model.Description</p>

<p>Calories: @Model.Calories</p>
<p>Tastiness: @Model.Testiness</p>

<div class="d-flex justify-content-center gap-3" >
    <form asp-action="DeleteDish" asp-controller="Home" asp-route-DishId="@Model.DishId" method="post">
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

    <a href="/dishes/@Model.DishId/edit" class="btn btn-primary">Edit</a>
</div>