@model ProductsAndCategories.Models.Association

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Category.Name</title>
</head>
<body>
    <header class="container d-flex flex-column justify-content-center align-items-center">
        <h1 class="my-4">@Model.Category.Name</h1>
        <nav class="mb-4">
            <a href="/" class="btn btn-link">Products</a>
            <a href="/categories" class="btn btn-link">Categories</a>
        </nav>
    </header>
    <div class="container d-flex gap-4">
        <section class="mb-4 flex-grow-1">
            <h2>Products</h2>
            <ul class="list-group">
                @foreach (var association in Model.Category.Associations)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @association.Product.Name
                        <form asp-action="DeleteProduct" asp-route-id="@Model.CategoryId" method="post" class="d-inline">
                            <input type="hidden" name="productId" value="@association.ProductId">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </li>
                }
            </ul>
        </section>
        <section class="mb-4 flex-grow-1">
            <h2>Add Product</h2>
            <form asp-action="AddProduct" asp-route-id="@Model.CategoryId" method="post" class="form-inline">
                <input type="hidden" asp-for="CategoryId">
                <div class="form-group mb-2">
                    <select asp-for="ProductId" asp-items="@(new SelectList(ViewBag.Products, "ProductId", "Name"))" class="form-select mr-2"></select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success mb-2">Add</button>
            </form>
        </section>
    </div>
</body>
</html>
